
/*=============================================
=            Gif Puzzle Game Styles           =
=============================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Variables */

:root {
  --textColor: #151515;
  --bg1: #c5ccc1;
  --bg-btn: #efefef;
  --font: 'Heebo',
    sans-serif;
}

body {
  background: #c5ccc1;

}

header {
  background-color: #151515;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;

}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Heebo',
    sans-serif;
  font-weight: 900;
  color: var(--bg1);
  width: 15vw;
  height: 8vh;
  line-height: 8vh;
  background-color: var(--bg);
  letter-spacing: 0.4px;

}

#newGame,
#btn,
#backGroundMusic {
  display: block;
  cursor: pointer;
  font-size: 1.4em;
  height: 15vh;
  align-self: center;
  color: var(--bg1);
  background-color: var(--bg);
  transition: all .2s ease-in-out;
  padding: 0.5em;

}

canvas {

  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#canvas-holder {
  width: 100%;
}

#newGame:hover,
#btn:hover,
#backGroundMusic:hover {

  background-color: var(--bg1);
  color: var(--textColor);
  height: 15vh;
}


#statistics {
  display: flex;
  font-size: 2rem;
  color: var(--bg1);
  font-size: 1.4em;
  padding: 0.2rem;
  line-height: 8vh;
  font-family: var(--font);
  margin-right: 1em;

}

#timer {
  transition: all .2s ease-in-out;
  margin-left: 1em;
  height: 8vh;
  color: var(--bg1);
  background-color: var(--textColor);
  width: 5rem;
  font-size: 2.5rem;
  cursor: pointer;

}


button {
  border: none;

}

button:focus {
  outline: none;
  box-shadow: none;
}

footer {
  background-color: #151515;
  position: fixed;
  bottom: 0;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.makers {
  padding: .5em;
  background: none;
  font-family: var(--font);
  color: var(--bg1);
  font-size: 0.95rem;

}

a {
  color: var(--bg1);
  text-decoration: none;
  font-family: var(--font);
  font-size: 0.95rem;
  margin-left: 0.2em;

}

#eg {
  margin: 0.2rem;
  border-radius: 0.2rem;
  padding: .2em .5rem;
  background: var(--bg1);
  font-family: var(--font);
  cursor: pointer;
}

/*=================================================
=     Media Queries max-width 900, 500, 350px     =
===================================================*/
@media screen and (max-width: 900px) {

  header {
    display: flex;
    justify-content: space-between;
  }

  h1 {
    width: 20vw;
    font-size: 1em;
    text-align: center;
  }

  #newGame,
  #btn,
  #stattistics,
  #timer,
  #backGroundMusic {
    font-size: 1em;
  }

  #timer,
  #stattistics {
    width: 3rem;

  }

  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

}

/*=====  End of Media Queries max-width 900px  ======*/

@media screen and (max-width: 500px) {

  header {
    height: 15vh;
    display: flex;

  }


  footer {
    height: 15vh;

  }


  h1 {
    width: 22vw;
    font-size: 0.9em;
    text-align: center;
    margin-left: 0.3em;
  }

  #newGame,
  #btn,
  #timer,
  #statistics,
  #backGroundMusic {
    font-size: 1em;

  }
}

/*=====  End of Media Queries max-width 500px  ======*/

@media screen and (max-width: 350px) {


  h1 {
    width: 20vw;
    font-size: 0.8em;
    text-align: center;
  }

  #newGame,
  #btn,
  #statistics,
  #timer,
  #backGroundMusic {
    font-size: 1em;

  }

  #timer,
  #stattistics {
    width: 1.2rem;
    font-size: 1em;

  }

  a,
  .makers {

    font-size: 0.8em;

  }

}

/*=====  End of Media Queries max-width 350px  ======*/
